@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ciko Badie";
  src: url("fonts/CikoBadie-Regular.woff2") format("woff2"),
    url("fonts/CikoBadie-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ciko {
  font-family: "Ciko Badie";
}

.background {
  background-image: url("https://images.unsplash.com/photo-1523510468197-455cc987be86?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: sepia(20%) saturate(120%) contrast(90%) brightness(90%);

}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/nnnoise.svg");
}
